<footer class="card-panel light-blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Quem eu sou?</h5>
          <p class="grey-text text-lighten-4">Sou extremamente esforçado, pois desejo de verdade me tornar um programador experiente. Tenho o desejo
            de mudar de país com minha família. Então estou estudando Inglês e Espanhol.
          </p>


        </div>
        <!-- <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div> -->
        <div class="col l4 s12">
          <h5 class="white-text">Contatos / Contacts</h5>
            <a class="white-text" href="https://www.linkedin.com/in/diego-araujo-56897a129/"><i class="fab fa-linkedin fa-4x"></i></a>
            <a class="white-text" href="https://github.com/diegoshakan"> <i class="fab fa-github fa-4x"></i></a>
            <a class="white-text" href="https://www.instagram.com/diegoshakan/"> <i class="fab fa-instagram fa-4x"></i></a>
            <a class="white-text" href="https://www.facebook.com/diego.araujo.900?ref=bookmarks"> <i class="fab fa-facebook-square fa-4x"></i></a>
          <!-- <ul>
            <li><i class="fab fa-linkedin fa-2x"></i> <a class="white-text" href="https://www.linkedin.com/in/diego-araujo-56897a129/">Linked In</a></li>
            <li><i class="fab fa-github fa-2x"></i> <a class="white-text" href="https://github.com/diegoshakan">Github</a></li>
            <li><i class="fab fa-instagram fa-2x"></i> <a class="white-text" href="https://www.instagram.com/diegoshakan/">Instagram</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul> -->
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
      <!-- Made with <a class="white-text text-lighten-3" href="http://materializecss.com">Materialize</a> -->
      </div>
    </div>
  </footer>